<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/ameliaknipp">Amelia</a>.
  </p>
  <br />
  <p>
    Amelia has a love of web design.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'amelia.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Amelia Knipp</h2>
      <br />
      <p>
        Amelia Knipp is a web developer.
      </p>
    </div>
  </div>
  <br class="clear" />



</div>

<br class="clear" />
<br />
<br />
<br />
<br />